@model ControledeContatos.Models.ContatoModel

@{
    ViewData["Title"] = "Editar Clientes";
}

<div class="text-center">
    <h1 class="display-4">Editar Clientes</h1>
</div>

<form asp-controller="Contato" asp-action="Alterar" method="post">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome">
    </div>
    
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Digite o email">
    </div>
    
    <div class="form-group">
        <label for="telefone">Telefone</label>
        <input type="text" asp-for="Telefone" class="form-control" placeholder="Digite o telefone">
    </div>
    
    <div class="form-group">
        <label for="cidade">Cidade</label>
        <input type="text" asp-for="Cidade" class="form-control" placeholder="Digite a cidade">
    </div>
    
    <div class="form-group">
        <label for="bairro">Bairro</label>
        <input type="text" asp-for="Bairro" class="form-control" placeholder="Digite o bairro">
    </div>
    
    <div class="form-group">
        <label for="rua">Rua</label>
        <input type="text" asp-for="Rua" class="form-control" placeholder="Digite a rua">
    </div>
    
    <div class="form-group">
        <label for="estado">Estado</label>
        <input type="text" asp-for="Estado" class="form-control" placeholder="Digite a sigla do estado">
    </div>
    
    <br />
    <button type="submit" class="btn btn-primary">Alterar</button>
    <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form>
